# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/

# Venv
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*/migrations/__pycache__/

# Testing
.pytest_cache/
.hypothesis/
.coverage
htmlcov/
.tox/

# Tools/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
.patch

backups/